
@media screen and (max-width: 768px) {
    .MuiBox-root {
        justify-content: center; 
      }
    .MuiButton-root {
      order: 1; 
      width: 100%; 
    }
  }
  
 
  @media screen and (max-width: 480px) {
    .MuiBox-root {
      justify-content: flex-start;
    }
    .MuiButton-root {
      order: 2; 
      width: 100%;
    }
  }
  
  body {
    background-color: #e1e1e1 !important
  }
  
